<section class="main-body index">
    <section class="about-of-splash">
      <div class="splash-carousel about">
        <img class="" src="assets/images/splash-about.png">
        <div class="about description">
          <h2>About The Open</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iaculis eget enim vehicula, facilisis eleifend erat. Sed id suscipit enim, quis convallis justo. Proin arcu dui, aliquet eu porta ac, commodo et quam. Nunc sed dolor justo. Proin vehicula, ante non ornare venenatis, nisl dui venenatis nisi, vel pellentesque lectus arcu eget turpis. Pellentesque pellentesque est quis leo hendrerit elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum ut vestibulum elit. Duis at blandit erat.</p>
          <a class="readmore" href="#goToThisPage">Read More...</a>
        </div>
        
      </div>
      
      <div class="splash-carousel ofcommunity">
        <img class="" src="assets/images/splash-ofcommunity.png">
        <div class="ofcommunity description">
          <h2>OF Community</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iaculis eget enim vehicula, facilisis eleifend erat. Sed id suscipit enim, quis convallis justo. Proin arcu dui, aliquet eu porta ac, commodo et quam. Nunc sed dolor justo. Proin vehicula, ante non ornare venenatis, nisl dui venenatis nisi, vel pellentesque lectus arcu eget turpis. Pellentesque pellentesque est quis leo hendrerit elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum ut vestibulum elit. Duis at blandit erat.</p>
          <a class="readmore" href="#goToThisPage">Read More...</a>
        </div>
        
      </div>
      
      <div class="splash-carousel toolkits">
        <img class="" src="assets/images/splash-toolkits.png">
        <div class="toolkits description">
          <h2>Toolkits</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iaculis eget enim vehicula, facilisis eleifend erat. Sed id suscipit enim, quis convallis justo. Proin arcu dui, aliquet eu porta ac, commodo et quam. Nunc sed dolor justo. Proin vehicula, ante non ornare venenatis, nisl dui venenatis nisi, vel pellentesque lectus arcu eget turpis. Pellentesque pellentesque est quis leo hendrerit elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum ut vestibulum elit. Duis at blandit erat.</p>
          <a class="readmore" href="#goToThisPage">Read More...</a>
        </div>
        
      </div>
      
      <ol class="carousel-viewport">
        <li><a href="#" class="active"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ol>
      <div class="splash-thumbs">
        <div class="thumb active">
          <img src="assets/images/splash_thumb-about.png">
          <div class="thumb-overlay">
          <h4 class="splash-caption">About</h4>
          </div>
        </div>
        <div class="thumb">
          <img src="assets/images/splash_thumb-ofCommunity.png">
          <div class="thumb-overlay">
          <h4 class="splash-caption">OF Community</h4>
        </div>
        <div class="thumb">
          <img src="assets/images/splash_thumb-toolkits.png">
          <div class="thumb-overlay">
          <h4 class="splash-caption">Toolkits</h4>
        </div>
      </div>
      
    </section><!-- .about-of-splash -->
    
    <section class="featured-projects">
      <h2>Featured Example Projects</h2>
      <div class="example-project">
        <img class="example-image-thumb" src="assets/images/example-thumb-01.png">
        <h4>Example Project</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque leo neque, iaculis eget enim vehicula, facilisis eleifend erat. Sed id suscipit enim, quis convallis justo.</p>
      </div>
      <div class="example-project">
        <img class="example-image-thumb" src="assets/images/example-thumb-02.png">
        <h4>Example Project</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque leo neque, iaculis eget enim vehicula, facilisis eleifend erat. Sed id suscipit enim, quis convallis justo.</p>
      </div>
    </section><!-- .featured-projects -->
    
    <section class="gallery-of-projects">
      <h2>Gallery of Projects</h2>
      <div class="single-project">
        <img class="gallery-image-thumb" src="assets/images/gallery-thumb-01.png">
        <div class="project-details">
          <img class="team-icon" src="assets/images/team-icon-01.png">
          <h3>Project Name</h3>
          <h4>Team Name</h4>
        </div>        
      </div>
      <div class="single-project">
        <img class="gallery-image-thumb" src="assets/images/gallery-thumb-02.png">
        <div class="project-details">
          <img class="team-icon" src="assets/images/team-icon-02.png">
          <h3>Project Name</h3>
          <h4>Team Name</h4>
        </div>        
      </div>
      <div class="single-project">
        <img class="gallery-image-thumb" src="assets/images/gallery-thumb-03.png">
        <div class="project-details">
          <img class="team-icon" src="assets/images/team-icon-03.png">
          <h3>Project Name</h3>
          <h4>Team Name</h4>
        </div>        
      </div>
      <div class="single-project">
        <img class="gallery-image-thumb" src="assets/images/gallery-thumb-04.png">
        <div class="project-details">
          <img class="team-icon" src="assets/images/team-icon-04.png">
          <h3>Project Name</h3>
          <h4>Team Name</h4>
        </div>        
      </div>
    </section><!-- .gallery-projects -->
   