<section class="gallery-of-projects">
      <h2>Gallery of Projects</h2>
      <div class="single-project">
        <img class="gallery-image-thumb" src="assets/images/gallery-thumb-01.png">
        <div class="project-details">
          <img class="team-icon" src="assets/images/team-icon-01.png">
          <h3>Project Name</h3>
          <h4>Team Name</h4>
        </div>        
      </div>
      <div class="single-project">
        <img class="gallery-image-thumb" src="assets/images/gallery-thumb-02.png">
        <div class="project-details">
          <img class="team-icon" src="assets/images/team-icon-02.png">
          <h3>Project Name</h3>
          <h4>Team Name</h4>
        </div>        
      </div>
      <div class="single-project">
        <img class="gallery-image-thumb" src="assets/images/gallery-thumb-03.png">
        <div class="project-details">
          <img class="team-icon" src="assets/images/team-icon-03.png">
          <h3>Project Name</h3>
          <h4>Team Name</h4>
        </div>        
      </div>
      <div class="single-project">
        <img class="gallery-image-thumb" src="assets/images/gallery-thumb-04.png">
        <div class="project-details">
          <img class="team-icon" src="assets/images/team-icon-04.png">
          <h3>Project Name</h3>
          <h4>Team Name</h4>
        </div>        
      </div>
    </section><!-- .gallery-projects -->