html, body {
	padding: 0;
	font-family: 'Open Sans', sans-serif;
/* 	width: 960px; */
	margin: 0 auto;
}

/* 		  */
/* HEADER */
/*		  */

.header {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 180px;
	background: #edeee8;
}
	.top-header-info {
		display: block;
		position: relative;
		height: 100px;
		width: 100%;
		/*background: cyan;*/
	}
		.logo-wrapper {
			display: inline-block;
			position: relative;
			float: left;
			width: 250px;
			height: 100px;
			/*background: red;*/
		}
			.logo {
				margin: 15px;
			}

		/*       */
		/* LOGIN */
		/*       */

		.login {
			width: 550px;
			height: 100px;
			float: right;
			/*background: red;*/
		}
		.login-wrapper {
			display: inline-block;
			position: relative;
			float: right;
			width: 470px;
			height: 50px;
			margin: 0;
			padding: 0;
			/*border: 1px solid black;*/
			/*background: yellow;*/
		}
			.login-wrapper li {
				display: inline-block;
				position: relative;
				float: right;
				width: 130px;
				height: 25px;
				margin: 10px 5px;
				border: 1px solid black;
				font-size: 10px;
				text-align: center;
				/*background: red;*/
				border: 1px solid #8892b0;
			}
				.login-wrapper li:hover {
					cursor: pointer;
					color: white;
					background: #8892b0;
				}
				.login-wrapper li:hover span {
					color: white;
				}
				.login-wrapper li span {
					display: inline-block;
					position: relative;
					margin: 6px;
					color: #8892b0;
					/*background: lime;*/

				}
.main-nav {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 750px;
	height: 50px;
	left: 0;
	right: 0;
	/*background: lime;*/
}
	.main-nav ul li {
		display: inline-block;
		float: left;
		list-style: none;
		color: white;
		margin: 5px;
		width: 130px;
		height: 40px;
		text-align: center;
		background: #4adfc2;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 700;
}
		.main-nav:hover {
			cursor: pointer;
		}
		.main-nav li span {
			display: inline-block;
			position: relative;
			padding-top: 10px;
			color: white;
		}
		.main-nav li span a {
			color: white;
			text-decoration: none
		}

/* ================================================ main body */
.main-body {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 1840px;
	/* 	background: #373b47; */
	color: white;
}
.main-body.index {
	height: inherit;
}
.main-body.competition {
	height: 2600px;
}
.main-body.accounts {
	height: auto;
}
.main-body.rules {
	height: 4300px;
}

/* image test */
/*
.index-image-test {
	display: inline-block;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	width: 1000px;
}
*/

/* 			*/
/* USER NAV */
/* 			*/

li.user-nav {
	border: none !important;
}

/* 				 */
/* SIGN IN MODAL */
/* 				 */

.background-modal {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 10;
}

.signin-modal {
	width: 500px;
	height: auto;
	margin: 0 auto;
	position: fixed;
	left: 0;
	right: 0;
	top: 50%;
	margin-top: -20%;
	z-index: 20;
}

/* ================================================ splash area */
.about-of-splash {
	background: #edeee8;
}

.splash-carousel {
	width: 860px;
	height: 328px;
	margin: 0 auto;
}
	/* splash about */
	.splash-carousel.about {
		background: #24ad93;
	}
	
	/* splash ofcomm */
	.splash-carousel.ofcommunity {
		background: #ff777b;
	}
	
	/* splash toolkits */
	.splash-carousel.toolkits {
		background: #466085;
	}
	
	.readmore {
		font-size: 12px;
		float: right;
		margin: 30px 5px 0px 0px;	}
	
	.description {
		padding: 15px;
		float: right;
		width: 390px;
		height: 290px;
	}
	
	.description h2 {
		margin: 0px;
		padding: 0px;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 40px;
		text-transform: uppercase;
	}
	
	.description p {
		margin: 0px;
		padding: 0px;
		font-size: 14px;
		line-height: 1.5em;
	}
	
	.description a:link { color: rgba(255, 255, 255, 0.65); }
	.description a:visited { color: rgba(255, 255, 255, 0.35); }
	.description a:hover { color: rgba(255, 255, 255, 1.0); }
	.description a:active { color: rgba(255, 255, 255, 0.85); }
	
	/* splash ellipses / indicators */
	carousel-indicators {
		
	}
	
		.carousel-indicators {
			list-style: none;
			display: inline-flex;
			margin: 20px 427px;
			padding: 0;
		}
		
		.carousel-indicators li{
			/* background: red; */
			background: #ff777b;
			margin: 0 10px;
			width: 15px;
			height: 15px;;
			border-radius: 20px;
			display: block;
		}
		
/*splash thumbs */
.splash-thumbs {
	
}

.thumb {
	display: inline;
	width: 200px;
	height:115px;
}



#about {

}

#community {

}

#toolkits {

}
	
.thumb-overlay {
	
}

.splash-caption {
	
}



/* ================================================ featured projects */

.featured-projects {
	
	background: #ff777b;
	
}


/* ================================================ gallery of projects */

.gallery-of-projects {
	
	background: #466085;
	
}


.footer {
	display: inline-block;
	position: relative;
	width: 100%;
	/* height: 50px; */
	background: #4adfc2;
	color: #466085;
}


































